USE [master]
GO
/****** Objeto: Database [Avigestion] Fecha de script: 14/9/2026 02:45:46 ******/
CREATE DATABASE [Avigestion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Avigestion', FILENAME = N'D:\sql\MSSQL17.SQLEXPRESS\MSSQL\DATA\Avigestion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Avigestion_log', FILENAME = N'D:\sql\MSSQL17.SQLEXPRESS\MSSQL\DATA\Avigestion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Avigestion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Avigestion]
GO
/****** Objeto: Table [dbo].[Alertas] Fecha de script: 14/9/2026 02:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alertas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[TipoAlerta] [nvarchar](20) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaGeneracion] [datetime] NOT NULL,
	[FechaResolucion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 14/9/2026 02:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_Cliente] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NULL,
	[Direccion] [nvarchar](50) NULL,
	[Empresa] [nvarchar](50) NULL,
	[Telefono] [nvarchar](50) NULL,
	[CorreoElectronico] [nvarchar](50) NULL,
	[DniCuil] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Compra] Fecha de script: 14/9/2026 02:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[Id_Compra] [int] IDENTITY(1,1) NOT NULL,
	[Id_Pedido] [int] NOT NULL,
	[FechaCompra] [date] NOT NULL,
	[Subtotal] [decimal](18, 0) NOT NULL,
	[Impuestos] [decimal](18, 0) NULL,
	[Descuento] [float] NULL,
	[Total] [decimal](18, 0) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Compra] PRIMARY KEY CLUSTERED 
(
	[Id_Compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetallePedidoCompra] Fecha de script: 14/9/2026 02:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedidoCompra](
	[Id_Detaille] [int] NOT NULL,
	[Id_Pedido] [int] NOT NULL,
	[Producto] [nvarchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [float] NOT NULL,
 CONSTRAINT [PK_DetallePedidoCompra] PRIMARY KEY CLUSTERED 
(
	[Id_Detaille] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pago] Fecha de script: 14/9/2026 02:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[Id_Pago] [int] NOT NULL,
	[FechaPago] [date] NOT NULL,
	[Monto] [decimal](18, 0) NOT NULL,
	[Id_Pedido] [int] NOT NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[Id_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pedido] Fecha de script: 14/9/2026 02:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[Id_Pedido] [int] NOT NULL,
	[Id_Compra] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Importe] [float] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[Id_Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PedidosCompra] Fecha de script: 14/9/2026 02:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidosCompra](
	[Id_Pedido] [int] NOT NULL,
	[Id_Cliente] [int] NOT NULL,
	[Fecha] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PedidosCompra] PRIMARY KEY CLUSTERED 
(
	[Id_Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 14/9/2026 02:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[Categoria] [nvarchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[StockMaximo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 14/9/2026 02:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](100) NOT NULL,
	[Rol] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Codigo], [Descripcion], [Categoria], [Precio], [Stock], [Estado], [StockMinimo], [StockMaximo]) VALUES (1, N'HUE-001', N'Maple de huevos blancos', N'Huevos', CAST(5200.00 AS Decimal(10, 2)), 50, N'Activo', 10, 150)
INSERT [dbo].[Productos] ([Id], [Codigo], [Descripcion], [Categoria], [Precio], [Stock], [Estado], [StockMinimo], [StockMaximo]) VALUES (2, N'HUE-002', N'Maple de huevos de campo', N'Huevos', CAST(5800.00 AS Decimal(10, 2)), 30, N'Activo', 10, 100)
INSERT [dbo].[Productos] ([Id], [Codigo], [Descripcion], [Categoria], [Precio], [Stock], [Estado], [StockMinimo], [StockMaximo]) VALUES (3, N'POL-001', N'Cajón de pollo entero', N'Pollo', CAST(55000.00 AS Decimal(10, 2)), 15, N'Activo', 5, 40)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuario], [Nombre], [Apellido], [Contrasena], [Rol]) VALUES (4, N'Admin', N'Admin', N'1234', N'Administrador')
INSERT [dbo].[Usuarios] ([idUsuario], [Nombre], [Apellido], [Contrasena], [Rol]) VALUES (5, N'Admin', N'Admin', N'1234', N'Administrador')
INSERT [dbo].[Usuarios] ([idUsuario], [Nombre], [Apellido], [Contrasena], [Rol]) VALUES (6, N'victor', N'victor', N'1234', N'Jefe de Deposito')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Productos_Codigo] Fecha de script: 14/9/2026 02:45:46 ******/
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [UQ_Productos_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alertas] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [dbo].[Alertas] ADD  DEFAULT (getdate()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((10)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((100)) FOR [StockMaximo]
GO
ALTER TABLE [dbo].[Alertas]  WITH CHECK ADD  CONSTRAINT [FK_Alertas_Productos] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[Alertas] CHECK CONSTRAINT [FK_Alertas_Productos]
GO
ALTER TABLE [dbo].[DetallePedidoCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedidoCompra_Pedidos] FOREIGN KEY([Id_Pedido])
REFERENCES [dbo].[PedidosCompra] ([Id_Pedido])
GO
ALTER TABLE [dbo].[DetallePedidoCompra] CHECK CONSTRAINT [FK_DetallePedidoCompra_Pedidos]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Pedido] FOREIGN KEY([Id_Pedido])
REFERENCES [dbo].[Pedido] ([Id_Pedido])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Pedido]
GO
ALTER TABLE [dbo].[PedidosCompra]  WITH CHECK ADD  CONSTRAINT [FK_PedidosCompra_Cliente] FOREIGN KEY([Id_Cliente])
REFERENCES [dbo].[Cliente] ([Id_Cliente])
GO
ALTER TABLE [dbo].[PedidosCompra] CHECK CONSTRAINT [FK_PedidosCompra_Cliente]
GO
USE [master]
GO
